**/.idea/**
**/.idea
**/__pycache__/**
**/__pycache__
**/PhoneComparison
**/.venv*
JustMe/*
Primes/runprimemain.bat
Primes/illegal_chars.txt
Primes/fix_ish_sprimelist.txt
Primes/primes_i_like.txt
Primes/Backups
*/sprimelist.txt
