**/.idea/**
**/.idea
**/__pycache__/**
**/__pycache__
**/PhoneComparison
**/.venv*
JustMe/*
primes/runprimemain.bat
primes/illegal_chars.txt
primes/fix_ish_sprimelist.txt
primes/primes_i_like.txt
primes/Backups
*/sprimelist.txt
/primes/primes_db/primes.db
/primes/primes_db/tprimes.db
primes/Pylint hints.txt
pylint_output.txt
/pylint_nmath.bat
